<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'SNSサイト - プロフィール')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>プロフィール</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row justify-content-center">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body pt-3">

              <div th:if="${validationErrors != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <div th:each="error : ${validationErrors.getAllErrors()}">
                  <i class="bi bi-exclamation-octagon me-1"></i>
                  <span th:text="${error.getDefaultMessage()}">エラーメッセージ</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <!-- Profile Edit Form -->
              <form method="post" enctype="multipart/form-data" th:action="@{/profile/regist}" th:object="${requestModifyAccount}">
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-4 col-form-label">プロフィール画像</label>
                  <div class="col-md-8 col-lg-8">
                    <span id="previewbox">
                      <!--/* タイムスタンプをURLパラメータに指定している理由は、更新直後ブラウザキャッシュにより表示されないことがある為、設定している。 */-->
                      <img th:src="(*{iconUri} ?: '/assets/img/profile-dummy.png') + '?t=' + ${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}" id="previewimg" style="height: 120px;">
                    </span>
                    <div class="pt-2">
                      <label>
                        <i class="bi bi-upload btn btn-primary btn-sm"></i>
                        <input type="file" name="profileFile" id="filesend" style="display: none;">
                        <input type="hidden" name="profileFileHidden" id="filesendHidden" th:value="*{iconUri}">
                      </label>
                      <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image" onclick="resetPreview();"><i class="bi bi-trash"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-4 col-form-label">名前</label>
                  <div class="col-md-8 col-lg-8">
                    <input name="name" type="text" class="form-control" id="fullName" maxlength="32" required th:field="*{name}">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">プロフィールを保存</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>
</html>