<!DOCTYPE html>
<html lang="ja">

<!-- ======= Head ======= -->
<div th:replace="common/shoulder_fragment::head(title = 'Home')"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="common/shoulder_fragment::header"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Home</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">トピック一覧</h5>

              <a href="/topic/input" class="btn btn-primary">トピックを投稿する</a>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">本文</th>
                    <th scope="col">ニックネーム</th>
                    <th scope="col">投稿日時</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a href="/topic/detail">1</a></th>
                    <td><a href="/topic/detail">Brandon Jacob</a></td>
                    <td><a href="/topic/detail">Designer</a></td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Bridie Kessler</td>
                    <td>Developer</td>
                    <td>35</td>
                    <td>2014-12-05</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Ashleigh Langosh</td>
                    <td>Finance</td>
                    <td>45</td>
                    <td>2011-08-12</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Angus Grady</td>
                    <td>HR</td>
                    <td>34</td>
                    <td>2012-06-11</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Raheem Lehner</td>
                    <td>Dynamic Division Officer</td>
                    <td>47</td>
                    <td>2011-04-19</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="common/shoulder_fragment::footer"></div>

</body>

</html>